AIRFLOW_UID=50000

_AIRFLOW_WWW_USER_USERNAME=airflow
_AIRFLOW_WWW_USER_PASSWORD=airflow

# 컨테이너 -> 호스트 접근은 host.docker.internal 사용
AIRFLOW_DB_URL=postgresql+psycopg2://<user>:<password>@host.docker.internal:5432/airflow

_PIP_ADDITIONAL_REQUIREMENTS=
